@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: Poppins, sans-serif;
  background: #faf9f6;
  padding: 20px;
  color: #264653;
}
h2 {
  color: #e76f51;
}
.map-container {
  border: 2px solid #e9c46a;
  border-radius: 12px;
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
